@addTagHelper "CmsCoreV2.Helpers.FormFieldHelper, CmsCoreV2"
@model Form
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Form Önizlemesi</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <form asp-controller="FeedBacks" asp-action="Create">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12 ">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.FormName)
                            @Html.HiddenFor(model => model.EmailTo)
                            @Html.HiddenFor(model => model.EmailCc)
                            @Html.HiddenFor(model => model.EmailBcc)
                            @Html.HiddenFor(model => model.GoogleAnalyticsCode)
                            @Html.HiddenFor(model => model.FormFields)
                            @Html.HiddenFor(model => Model.Description)
                            @Html.HiddenFor(model => Model.ClosingDescription)
                            <div class="form-body">
                                <div class="form-group">
                                    <h1>@Html.DisplayFor(model => model.FormName)</h1><br />
                                </div>
                                <div class="form-group">
                                    @if (!String.IsNullOrEmpty(Model.Description))
                                    {
                                    @Html.Raw(Model.Description)
                                    }
                                </div>
                                @foreach (FormField item in Model.FormFields)
                                {
                                    <div class="form-group">
                                        <formField form-field="item" required="false" read_only="false" show-label="true" />
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                @Html.Raw(Model.ClosingDescription)
                            </div>
                            <input asp-controller="Feedbacks" asp-action="PostForm" class="btn btn-success" type="submit" value="Gönder" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

