@model CmsCoreV2.Models.Menu

@{
    ViewData["Title"] = "Menü Sil";
}

<h2>Menü Sil</h2>

<h3>Bu alanı silmek istediğinize eminmisiniz?</h3>
<div>
    <form asp-action="Delete">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MenuLocation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MenuLocation)
            </dd>
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AppTenantId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AppTenantId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Language.Id)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-primary" /> 
            <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
