@model IEnumerable<CmsCoreV2.Models.Gallery>

@{
    ViewData["Title"] = "All Galleries";
}

<link href="/metronic/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /><br />

<h2>Tüm Galeriler</h2>

<p>
    <a asp-action="Create" class="btn sbold green">Galeri Ekle</a>
</p>
<table class="table table-striped table-bordered table-hover table-checkable" id="tblRecords">
    <thead>
        <tr>
            <th class="all">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppTenantId)
            </th>
           
            <th data-orderable="false" class="all dt-right ">
                Eylemler
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppTenantId)
                </td>
               
                <td class="dt-right text-nowrap">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" class="btn btn-default" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
