@model IEnumerable<CmsCoreV2.Models.Page>

@{
    ViewData["Title"] = "Sayfalar";
}

<h2>Sayfalar</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni  Oluştur</a>
</p>
<table id="tblRecords" class="table">
    <thead>
        <tr>
                <th class="text-nowrap all">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.ViewCount)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.SeoTitle)
                </th>
                <th class="text-nowrap" >
                    @Html.DisplayNameFor(model => model.SeoDescription)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.SeoKeywords)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Template)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.AppTenantId)
                </th>
            <th class="text-nowrap all" >
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ParentPage)
            </th>
            <th data-orderable="false" class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoKeywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Template)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppTenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.NativeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPage.Id)
            </td>
            <td class="text-nowrap">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                <a class="btn btn-default"asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
