@model CmsCoreV2.Models.Media

@{
    ViewData["Title"] = "Delete";
}

<link href="/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /><br />

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">Media Details</span>
                    <h3>Are you sure you want to delete this?</h3>
                </div>
            </div>
            <form asp-action="Delete" enctype="multipart/form-data" asp-route-id="@Model.Id">
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.Title)</legend>
                            @Html.DisplayFor(model => model.Title)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.FileUrl)</legend>
                            <a href="/@Model.FileUrl@Model.FileName">@Model.FileName</a>
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.FileName)</legend>
                            @Html.Raw(Model.FileName)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.Description)</legend>
                            @Html.Raw(Model.Description)
                        </div>

                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.Size)</legend>
                            @Html.Raw(Model.Size) Mb
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.FileType)</legend>
                            @Html.DisplayFor(model => model.FileType)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.CreateDate)</legend>
                            @Html.DisplayFor(model => model.CreateDate)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.CreatedBy)</legend>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.UpdateDate)</legend>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </div>
                        <div class="form-group">
                            <legend>@Html.DisplayNameFor(model => model.UpdatedBy)</legend>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </div>
                        </dl>


                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-default" tabindex="11">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
